.banner-headline{
    position: absolute;
    color: #f0f0f0;
    text-align: center;
    text-shadow: 1px 1px 40px black;

    left: 50%;                       
    top: 50%;                     
    transform: translate(-50%, -50%);
}